<div class="container"> 
	<footer class="footer">
		<small>
			Lalalala &copy; <a href="https://www.google.com">Google</a> 
		</small> 
		<nav>
			<ul>
				<li> <%=link_to "Posts", articles_path %> </li> 
				<li> <%=link_to "Posts", articles_path %> </li> 
			</ul> 
		</nav> 
	</footer>
</div> 
